/primeERP/primeERP-ejb/target/
/primeERP/primeERP-web/target/
/primeERP/primeERP-ear/target/
primeERP/primeERP-ejb/nb-configuration.xml
primeERP/primeERP-web/nb-configuration.xml
primeERP/primeERP-ear/nb-configuration.xml